.description {
  width: 170px;
  height: auto;
  margin-top: 30px;
}

.avatar {
  width: 100%;
  object-fit: cover;
  border-radius: 50% 50% 50% 50%;
}

.name {
font-size: 25px;
font-weight: bold;
margin-top: 5px;
margin-bottom: 5px;
text-align: center;
}

.tag{
font-size: 17px;
color: grey;
margin-top: 5px;
margin-bottom: 5px;
text-align: center;
}

.location {
  composes: tag;
}